/* some style */

body {
  font-family: 'Courier New';
  padding-left: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #336600;
}

#display-area {
  vertical-align: top;
  margin-left: 20px;
  display: inline-block;
  font-size: 25px;
  color: #336600;
}

#display-area>div {
  padding-bottom: 5px;
}

#next-img-container {
  width: 96px;
  height: 96px;
}

#keys-area {
  margin-top: 30px;
  font-size: 15px;
}

#keys-area-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.keybinding {
  padding-left: 10px;
}

#board-area {
  display: inline-block;
}

#tetris-matrix {
  border: 3px solid red;
}
